<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte des Ruchers</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Carte des Ruchers</h1>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        // Initialisation de la carte avec Leaflet
        var map = L.map('map').setView([-21.1349425, 55.5273056], 10); // Coordonnées par défaut (Réunion)

        // Ajout de la couche de fond (OpenStreetMap)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Liste des ruchers avec leurs coordonnées
        const ruchers = {{ ruchers|safe }}; // Injecte les données JSON des ruchers

        // Ajout des marqueurs pour chaque rucher
        ruchers.forEach(rucher => {
            const marker = L.marker([rucher.latitude, rucher.longitude]).addTo(map);
            marker.bindPopup(`<b>${rucher.nom}</b><br>Latitude: ${rucher.latitude}<br>Longitude: ${rucher.longitude}<br> <a href="${rucher.url }">Voir les ruches</a>`);
        });
    </script>
</body>
</html>
